<!-- Compiled and minified CSS -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>

<h2>{{ titre }}</h2>
<div *ngIf="!hasFilms"><i>Aucun film présent</i></div>
<button (click)="clickTpAdd()">[ + ]</button>
<table *ngIf="hasFilms">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of films">
      <td>{{ item.titre }}</td>
      <td>{{ item.annee }}</td>
      <button (click)="clickTpRemove(item)">[ - ]</button>
    </tr>
  </tbody>
</table>
